<div id="bar" class="progress-bar" data-ping-time="1000">
    
    <div class="progress">
        <div class="bar" style="width: 0%;"></div>
    </div>
    
    <div class="message">Not Running...</div>
</div>
<script type="text/javascript">
 <%= (render partial:'searching.js') %>
</script>
