<div class="container">
  <div id="bar" class="progress" data-ping-time="1000">
    <div class="progress-bar progress-bar-info" style="width: 0%;">
      0%
    </div>
  </div>
</div>
<script type="text/javascript">
  <%= (render partial:'searching.js') %>
</script>
